<h1>Listing blogs</h1>

<table>
  <thead>
    <tr>
      <th>Blog</th>
      <th>Acccount</th>
      <th>Blog title</th>
      <th>Blog detail</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.blog_id %></td>
        <td><%= blog.acccount_id %></td>
        <td><%= blog.blog_title %></td>
        <td><%= blog.blog_detail %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
