<!DOCTYPE html>
<html>
<head>
  <title>MiniProject</title>
  <%= stylesheet_link_tag    "common.css", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "bootstrap/css/bootstrap.css" %>
  <%= stylesheet_link_tag "bootstrap/font-awesome/css/font-awesome.css" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">
  <div id="header">
    <div class="header-top" style="margin-bottom:3px;">
      <p>お手軽なブログシステム</p>
    </div>
    <%= image_tag 'top.png' %>
  </div>
    <div id="contents">
      <%= yield %>
    </div>
      <div id="footer"oote>
        <div class="fr-inner">
          © 2013-2013 hogehogehogehogehogehogehogehogehogehoge
        </div>
      </div><!-- /footer -->
</div>


</body>
</html>
